<a href="https://colab.research.google.com/github/bishnuparajuli024/supply-chain-analytics/blob/main/supply_chain_analytics_MITx.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#The following is the introductory section to praction basic python based on the MITx Supply Chain MicroMasters

In [ ]:
x=8
print(x)

8

In [3]:
x=859
y=36
z=x+y
print("initial Value is:",z)

y=159
z=x+y
print("Post change, the value is:",z)

initial Value is: 895
Post change, the value is: 1018

In [ ]:
y=159
print(z)

895

Variable Types

In [ ]:
my_int=5
my_float=7.9
my_str='Hi There'
my_bool=True

print(type(my_float))
print(type(my_str))

<class 'float'>
<class 'str'>

In [ ]:
a=my_int+my_float
print(a)
print(type(a))

12.9
<class 'float'>

In [ ]:
print(my_int+my_str)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

Printing

In [ ]:
y=7
y

7

In [ ]:
y
z=2
#please note, it does not print y because it is not the last command

In [ ]:
print(y)
z=2

7

In [ ]:
x=10
print(x*29)

290

In [ ]:
x='abc'
y="def"
z="""

ghi

"""
q='''

jkl

'''
print(x)
print(y)
print(z)
print(q)

abc
def


ghi




jkl

In [ ]:
x="She said \'hi'"
print(x)

She said 'hi'

In [ ]:
print("Hello"+' '+'World!')

Hello World!

In [ ]:
print("Hello {answer}!".format(answer="World"))

Hello World!

In [ ]:
print("Hello %s!" % 'World')

Hello World!

In [ ]:
print(5+3)

8

In [ ]:
print('5+3')
print(5**3)
print('5+3: ',5+3)

5+3
125
5+3:  8

In [ ]:
y={1,2,3}
z={4,5,6}
print(y+z)

TypeError: unsupported operand type(s) for +: 'set' and 'set'

In [ ]:
y=[1,2,3]
z=[4,5,6]
print(y+z)

[1, 2, 3, 4, 5, 6]

In [ ]:
y=1,2,3
z=4,5,6
print[y+z]

TypeError: 'builtin_function_or_method' object is not subscriptable

In [ ]:
z=[8,12,2,9,7]
for i in z:

     y=i+1

     print(y)

9
13
3
10
8

In [ ]:
# Notice how the default value of y is 2
# If not provided when the function is called, y will be 2.
def multiply(x, y=2):
    return x*y
multiply(3)

6

In [ ]:
multiply(3,4)

12

SyntaxError: invalid syntax (<ipython-input-13-4e7c0351ee3f>, line 1)