<a href="https://colab.research.google.com/github/bishnuparajuli024/supply-chain-analytics/blob/main/supply_chain_analytics_MITx.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#The following is the introductory section to praction basic python based on the MITx Supply Chain MicroMasters

In [4]:
x=8
print(x)

8

In [9]:
x=859
y=36
z=x+y
print("initial Value is:",z)

y=159
z=x+y
print("Post change, the value is:",z)

initial Value is: 895
Post change, the value is: 1018

In [7]:
y=159
print(z)

895

Variable Types

In [10]:
my_int=5
my_float=7.9
my_str='Hi There'
my_bool=True

print(type(my_float))
print(type(my_str))

<class 'float'>
<class 'str'>

In [11]:
a=my_int+my_float
print(a)
print(type(a))

12.9
<class 'float'>

In [12]:
print(my_int+my_str)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

Printing

In [13]:
y=7
y

7

In [17]:
y
z=2
#please note, it does not print y because it is not the last command

In [18]:
print(y)
z=2

7

In [19]:
x=10
print(x*29)

290

In [22]:
x='abc'
y="def"
z="""

ghi

"""
q='''

jkl

'''
print(x)
print(y)
print(z)
print(q)

abc
def


ghi




jkl

In [28]:
x="She said \'hi'"
print(x)

She said 'hi'

In [29]:
print("Hello"+' '+'World!')

Hello World!

In [30]:
print("Hello {answer}!".format(answer="World"))

Hello World!

In [31]:
print("Hello %s!" % 'World')

Hello World!