<a href="https://colab.research.google.com/github/bishnuparajuli024/supply-chain-analytics/blob/main/supply_chain_analytics_MITx.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#The following is the introductory section to praction basic python based on the MITx Supply Chain MicroMasters

In [ ]:
x=8
print(x)

8

In [ ]:
x=859
y=36
z=x+y
print("initial Value is:",z)

y=159
z=x+y
print("Post change, the value is:",z)

initial Value is: 895
Post change, the value is: 1018

In [ ]:
y=159
print(z)

895

Variable Types

In [ ]:
my_int=5
my_float=7.9
my_str='Hi There'
my_bool=True

print(type(my_float))
print(type(my_str))

<class 'float'>
<class 'str'>

In [ ]:
a=my_int+my_float
print(a)
print(type(a))

12.9
<class 'float'>

In [ ]:
print(my_int+my_str)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

Printing

In [ ]:
y=7
y

7

In [ ]:
y
z=2
#please note, it does not print y because it is not the last command

In [ ]:
print(y)
z=2

7

In [ ]:
x=10
print(x*29)

290

In [ ]:
x='abc'
y="def"
z="""

ghi

"""
q='''

jkl

'''
print(x)
print(y)
print(z)
print(q)

abc
def


ghi




jkl

In [ ]:
x="She said \'hi'"
print(x)

She said 'hi'

In [ ]:
print("Hello"+' '+'World!')

Hello World!

In [ ]:
print("Hello {answer}!".format(answer="World"))

Hello World!

In [ ]:
print("Hello %s!" % 'World')

Hello World!

In [ ]:
print(5+3)

8

In [ ]:
print('5+3')
print(5**3)
print('5+3: ',5+3)

5+3
125
5+3:  8

In [1]:
y={1,2,3}
z={4,5,6}
print(y+z)

TypeError: unsupported operand type(s) for +: 'set' and 'set'

In [ ]:
y=[1,2,3]
z=[4,5,6]
print(y+z)

[1, 2, 3, 4, 5, 6]

In [ ]:
y=1,2,3
z=4,5,6
print[y+z]

TypeError: 'builtin_function_or_method' object is not subscriptable

In [ ]:
z=[8,12,2,9,7]
for i in z:

     y=i+1

     print(y)

9
13
3
10
8

In [ ]:
# Notice how the default value of y is 2
# If not provided when the function is called, y will be 2.
def multiply(x, y=2):
    return x*y
multiply(3)

6

In [ ]:
multiply(3,4)

NameError: name 'multiply' is not defined

SyntaxError: invalid syntax (<ipython-input-13-4e7c0351ee3f>, line 1)

In [2]:
import numpy as np
from scipy import optimize as sp
import autograd

In [3]:
# example for numpy arrary
array0 = np.array([1,2,3,4])
array1 = np.array([3,2,0,0])

myList = []
myList.append(array0)
myList.append(array1)
print(myList)

# very important: Python is 0-indexed
print(myList[1])

Matrix = np.array([[1, 2], [3, 4]])
Vector = np.array([1, 2])

# matrix-vector product
sol = np.dot(Matrix, Vector)

print(sol)

[array([1, 2, 3, 4]), array([3, 2, 0, 0])]
[3 2 0 0]
[ 5 11]

In [4]:
# this function is called 'myFunction'
# it takes one input, x
# and returns y and z
def myFunction(x):
    y = x ** 2 - 2
    z = y + 2
    return y, z

In [5]:
x = 2

# function call
myY, myZ = myFunction(x)

print("{:.2f}, {:.2f}".format(myY, myZ))

2.00, 4.00

In [6]:
def parametricFunction(x, p):
    y = p*x ** 2
    return y

In [7]:
myY = parametricFunction(2, 4.5)
print(myY)

18.0

In [8]:
# example for numpy arrary
array0 = np.array([1,2,3,4])
array1 = np.array([3,2,0,0])

myList = []
myList.append(array0)
myList.append(array1)
print(myList)

# very important: Python is 0-indexed
print(myList[1])

Matrix = np.array([[1, 2], [3, 4]])
Vector = np.array([1, 2])

# matrix-vector product
sol = np.dot(Matrix, Vector)

print(sol)

[array([1, 2, 3, 4]), array([3, 2, 0, 0])]
[3 2 0 0]
[ 5 11]

In [9]:
#Gradients and Hessians

In [10]:
def line(x):
    y = 5*x + 10
    return y

In [11]:
x0 = 1.0
# slope of a line
print(autograd.grad(line)(x0))

5.0

In [12]:
# note, here the input is a vector
def plane(x):
    z = 5*x[0] + 10*x[1] + 4
    return z

In [13]:
x0 = np.array([1.0,2.0])
# gradient of a plane
print(autograd.grad(plane)(x0))

[ 5. 10.]

In [14]:
# first component of gradient: partial derivative
# simply refer using index 0
print(autograd.grad(plane)(x0)[0])

5.0